#display_out {
    position: fixed;
    /* top:10%;
    left:50%; */
    /* position: absolute;
    top: 100px;
    left: 50%;
    font-size: 12px;
    background: radial-gradient(#760000, #292929);
    -webkit-background-clip: text;
    background-clip: text; */
}

#display_out2 {
    display: none;
}

button {
    background: transparent;
    border: none;
    opacity: .5;
    /* width: px; */
    font-size: 30px;
    color: #efefef;
}

button:hover {
    background: transparent;
    border: none;
    opacity: 1;
}

body {
    display: flex;
    font-family: 'system-ui', sans-serif;
    font-size: large;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 90%; */
    color: #efefef;
    background-color: #292929;
    /* height:50vh; */
    /* width: 100vw; */
}


main {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 1px;
    align-items: center;
    text-align: center;
    object-fit: contain;
    height: 200px;
}

.jelly-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 155px;
    /* max-width: 1000px; */
    filter: invert(100%);
    object-fit: contain;
    position: relative;
    z-index: 1;
    /* Add this to set the stack order */
}

.jelly {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    /* Add this to set the stack order */
}
.loading{
    filter: blur(5px);
}

.jelly-eyes {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* Add this to set the stack order */
    transition: opacity 0.5s ease-in-out;
    /* Add this to transition the opacity */
}


.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    z-index:3;
    display: flex;
    flex: 0;
    position: relative;
    top: -115px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    /* gap: 10px; */
}

.title {
    width: 200px;
    position: relative;
    color: transparent;
    mix-blend-mode: difference;
    top: -40px;
    /* text-shadow: #efefef 0px 0px 1px; */
    font-size: 1rem;
    font-style: italic;
    /* font-weight: bold; */
    /* color: radial-gradient(#efefef, #292929); */
    /* margin: 20px; */
    /* background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); */
    background: radial-gradient(#760000, #292929);
    -webkit-background-clip: text;
    background-clip: text;
}

.bottom-info {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 155px;
    position: relative;
    top: 10%;
    left: 50%;
}
.overlaid {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    mix-blend-mode: difference;
    z-index: 2;
}
.spinner{
    display:none;
}
.spinner.loading {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 20%;
    left: 0%;
    z-index: 0;
    background: #760000;
    mix-blend-mode: difference;
    border: 5px solid #f3f3f3;
    /* Light grey */
    /* Blue */
    border-radius: 20%;
    animation: spin 2s linear infinite;
}
.overflash {
    pointer-events: none;
    /* display:none; */
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: -2;
    background:transparent;
    /* background: #760000; */
    mix-blend-mode: difference;
    /* border: 5px solid #f3f3f3; */
    /* Light grey */
    /* Blue */
    /* border-radius: 20%; */
}
.flashing {
    /* display:inherit; */
    animation: hue-spin 1s ease-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes hue-spin {
    0% {
        filter: hue-rotate(100deg);
        
    }

    100% {
        filter: hue-rotate(0deg);
    background: transparent;
    }
}